extends ./layout/index
block content
    .section-gradient
        <svg xmlns="http://www.w3.org/2000/svg">
            <defs>
                <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
                <feBlend in="SourceGraphic" in2="goo" />
                </filter>
            </defs>
        </svg>
        .gradient-container
            .gradient-one
            .gradient-two
            .gradient-three
            .gradient-four
            .gradient-five
            .gradient-six
            .gradient-seven
            .interactive
    header.header-portfolio 
        .main-data-portfolio
            h1 <span>Ulises Pineda</span><br> <span class="text-colored">Fullstack Web Developer</span>
            h2 Javascript developer specialized with <span class="text-colored">MERN</span> technology
            nav.link-rss-container  
                a(href="https://github.com/UlisesPineda", target="_blank", rel="noopener noreferrer nofollow" title="Stalk my code !!").icon-rss.github 
                a(href="https://www.linkedin.com/in/ulisespinedam/", target="_blank", rel="noopener noreferrer nofollow" title="My profesional profile").icon-rss.linkedin
                a(href="/", title="Código Líquido website").icon-rss.liquidcode
    section.main-info-portfolio 
        section.about-info 
            h3 About Me
            pSelf-taught Web developer with studies in graphic design and a long career in the financial sector.
            p <span class="text-colored">2018</span> I find my passion for web development, being SEO and Wordpress my first contact with the web world, HTML and CSS are my first meeting with web semantics. 
            p <span class="text-colored">2020</span> Knowing how to interact and modify websites leads me to the need of programming, I start learning JS in my free time.
            p <span class="text-colored">2021</span> With React and Node I start fullstack development, I start my specialization in these technologies.
            p <span class="text-colored">2022</span> I take the final step and decide to end my activity in the financial sector to dedicate myself fully to web development as a freelancer.
        section.work-info
            h3 My recent works
            article.card-container 
                .data-card-container
                    a(href="https://elmerkadeo.com", target="_blank", rel="noopener noreferrer" title="Take a look on my job").title-link-card.hover-title El Merkadeo
                        .img-card-container 
                            img(src="/img/elmerkadeo.png", alt="El merkadeo website")
                    p E-commerce solution that offers a complete administration system for both the user and the platform administrator.
                    em.hover-title Main webapp features:
                    ul 
                        li Protected routes
                        li New user registration
                        li Encrypted passwords
                        li Secure password recovery
                        li Logout due to inactivity
                        li Rest API
                        li Shopping cart
                        li Payment gateway with Stripe
                        li User panel
                        li Purchase history
                        li Administrator panel
                        li Editing and creating products
                        li Editing and creating categories
                        li Editing and creating promotions
                        li Dynamic URL's for each product
                        li Mongo DB for strings storage
                        li Firebase DB for multimedia storage
                    .buttons-tech-container 
                        span.button-tech React
                        span.button-tech React Router
                        span.button-tech Redux 
                        span.button-tech Node
                        span.button-tech Express 
                        span.button-tech JWT 
                        span.button-tech Bcrypt 
                        span.button-tech Nodemailer 
                        span.button-tech Axios 
                        span.button-tech Firebase 
                        span.button-tech MongoDB 
            article.card-container 
                .img-card-container 
                .data-card-container
                    a(href="https://conexiapoint.com", target="_blank", rel="noopener noreferrer" title="Take a look on my job").title-link-card.hover-title Conexia Point
                        .img-card-container 
                            img(src="/img/conexiapoint.png", alt="conexiapoint website")
                    p CRM solution for storing and interacting with customers and contacts.
                    em.hover-title Main webapp features:
                    ul 
                        li Protected routes
                        li New user registration
                        li Secure registration confirmation
                        li Encrypted passwords
                        li Rest API
                        li Secure password recovery
                        li Logout due to inactivity
                        li Customizable user panel
                        li Mongo DB for strings storage
                        li Firebase DB for multimedia storage
                    .buttons-tech-container 
                        span.button-tech React
                        span.button-tech React Router
                        span.button-tech Redux 
                        span.button-tech Node
                        span.button-tech Express 
                        span.button-tech JWT 
                        span.button-tech Bcrypt 
                        span.button-tech Nodemailer 
                        span.button-tech Axios 
                        span.button-tech Firebase 
                        span.button-tech MongoDB 
            article.card-container 
                .img-card-container 
                .data-card-container
                    a(href="https://creditopymemexico.com", target="_blank", rel="noopener noreferrer" title="Take a look on my job").title-link-card.hover-title Crédito PyME México
                        .img-card-container 
                            img(src="/img/credmex.png", alt="Crédito PyMe México website")
                    p Landing page created to support the commercial growth of a financial broker.
                    em.hover-title Main SPA features:
                    ul 
                        li Contact form
                        li Customized design
                    .buttons-tech-container 
                        span.button-tech React
                        span.button-tech React Router
                        span.button-tech Node
                        span.button-tech Axios 
                        span.button-tech Javascript
        section.about-tech-areas 
            h3 Areas of interest:
            p My current specialty is based on the Javascript environment, in the MERN technology, however, the following technologies are also within my interest and are part of my short term learning stack:
            .buttons-tech-container 
                span.button-tech AWS
                span.button-tech Python
                span.button-tech SQL
                span.button-tech React Native 
            h3 In learning process:
            p As part of my training and specialization, I am currently developing my knowledge of the following technologies:
            .buttons-tech-container 
                span.button-tech Next.js
                span.button-tech Typescript
                span.button-tech Jest
                span.button-tech Tailwind
        section.contact-form
            h3 Contact
            .data-contact 
                a(href="mailto:ulises@codigoliquido.com", target="_blank", rel="noopener noreferrer nofollow" title="Send me email").icon-rss.email 
                span.text-contact ulises@codigoliquido.com


