/* ---------- ESTILOS GENERALES DEL DATA MAIN ---------- */
.header-portfolio {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 40vw;
}
.main-data-portfolio {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20%;
    gap: 5%;
    box-sizing: border-box;
}
.main-data-portfolio h1 span:nth-child(1) {
    font-size: 36px;
}
.main-data-portfolio h2 {
    font-weight: 300;
}
.link-rss-container {
    display: flex;
    gap: 30px;
}
.icon-rss {
    height: 30px;
    width: 30px;
    opacity: .5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .4s ease-in-out;
}
.github {
    background-image: url(/img/github.png);
}
.liquidcode {
    background-image: url(/img/liquidcode.png);
}
@media ( max-width: 480px ) {
    .header-portfolio {
        position: initial;
        width: 100%;
    }
}
@media ( min-width: 481px ) and ( max-width: 1024px ) {
    .header-portfolio {
        width: 30vw;
    }
    .main-data-portfolio h1 span:nth-child(1) {
        font-size: 30px;
    }    
    .main-data-portfolio h1 span.text-colored {
        font-size: 26px;
    }
    .main-data-portfolio h2 {
        font-size: 18px;
    }
}

/* ---------- ESTILOS GENERALES DEL INFO MAIN ---------- */
.main-info-portfolio {
    height: auto;
    width: 60vw;
    transform: translateX(39vw);
    overflow-y: auto;
}
.main-info-portfolio section {
    display: block;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 15% 10% 20%;
    box-sizing: border-box;
    font-weight: 300;
}
.text-colored {
    color: var(--main-color);
}
@media ( max-width: 480px ) {
    .main-info-portfolio {
        width: 100%;
        transform: translateX(0);
    }
    .main-info-portfolio section {
        padding: 10%;
    }
    .about-info h3 {
        font-size: 16px;
    }
    .about-info p {
        font-size: 14px;
    }
}
@media ( min-width: 481px ) and ( max-width: 1024px ) {
}

/* ---------- ESTILOS DE PROYECTOS ---------- */
.data-card-container {
    margin: 10px 0 50px 0;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .02);
    transition: background-color .4s ease-in-out, box-shadow .4s ease-in-out;
}
.img-card-container {
    height: 80px;
    width: auto;
    opacity: .3;
    filter: blur(1px);
    transition: opacity .4s ease-in-out, filter .4s ease-in-out;
}
.img-card-container img {
    height: 100%;
}
.title-link-card {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a.hover-title {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.hover-title {
    transition: color .4s ease;
}
@media ( min-width: 1025px ) {
    .data-card-container:hover {
        background-color: rgba(255, 255, 255, .05);
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
    }
    .data-card-container:hover .hover-title {
        color: var(--main-color);
    }
    .data-card-container:hover .img-card-container {
        opacity: 1;
        filter: grayscale(0);
    }    
    .icon-rss:hover {
        opacity: 1;
    }    
}
ul li {
    list-style-type: none;
    font-size: 14px;
}
.buttons-tech-container {
    margin-top: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}
.button-tech {
    padding: 5px;
    font-size: 11px;
    border-radius: 10px;
    text-align: center;
    white-space: now-rap;
    color: white;
    background-color: rgba(136, 219, 211, .6);
}
@media ( max-width: 480px ) {
    .data-card-container {
        margin: 10px 0;
        padding: 20px;    
    }
    .work-info h3 {
        font-size: 16px;
    }
    .img-card-container {
        height: 60px;
        opacity: 1;
        filter: none;
    }   
    a.title-link-card,
    .data-card-container em.hover-title {
        font-size: 14px;
        color: var(--main-color);
    } 
    .data-card-container p {
        font-size: 12px;
    }
    .data-card-container li {
        font-size: 12px;
    }
    .buttons-tech-container {
        margin-top: 20px;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    }
    .button-tech {
        padding: 4px;
        font-size: 10px;
    }
}
@media ( min-width: 481px ) and ( max-width: 1024px ) {
    a.title-link-card {
        font-size: 18px;
        color: var(--main-color);
    }
    .img-card-container {
        opacity: 1;
        filter: none;
    }
    .hover-title {
        color: var(--main-color);
    }   
}
/* ---------- ESTILOS DE ABOUT TECH ---------- */
@media ( max-width: 480px ) {
    .about-tech-areas h3 {
        font-size: 16px;
    }
    .about-tech-areas p {
        font-size: 12px;
    }
}
@media ( min-width: 481px ) and ( max-width: 1024px ) {
    .about-tech-areas  h3 {
        font-size: 16px;
    }
}

/* ---------- ESTILOS DE CONTACTO ---------- */
.data-contact {
    display: flex;
    gap: 10px;
}
.email {
    background-image: url(/img/email.png);
}
@media ( max-width: 480px ) {
    .contact-form h3 {
        font-size: 16px;
    }
}
